<div id="vis-container" class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-1">
                    <i class="bi bi-info-circle hover-info-ball" data-toggle="tooltip" data-placement="right" title="The displayed variable is total library loans for a municipality in the given year divided by the municipality's population."></i>
                </div>
                <div class="col-md-11">
                    <h2 id="header-year-label" style="text-align:center"></h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-6">
                <div id="map-container">
                    <div class="search-box float-end margin-bottom-xs">
                        <div class="input-group rounded">
                            <input id="search-municipality-input" type="search" class="form-control rounded" placeholder="Search for municipality" aria-label="Search" aria-describedby="search-addon" />
                            <span class="input-group-text border-0" id="search-addon">
                                <i id="search-municipality-button" class="fas fa-search" type="button"></i>
                            </span>
                        </div>
                    </div>
                    <div id="map-and-legend-container"></div>
                </div>
        </div>
        <div class="col-md-6">
            <div class="row gy-3">
                <div id="charts-container"></div>
            </div>
            <div class="row centering-row">
                <button id="clear-selections-button" type="button" class="btn btn-primary btn-sm margin-sm small-button margin-top-sm">
                    Clear selections
                </button>
            </div>
            <div class="row">
                <form class="range-form">
                    <label id="year-slider-label" for="year-slider" class="form-label">Year</label>
                    <input type="range" min="2016" max="2022" value="2022" class="form-range slider" id="year-slider">
                    <span id="year-slider-current-year-label">ASD</span>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.3.0/mdb.min.js"></script>
<script type="module" src="/public/static/js/bar-charts.js"></script>
<script type="module" src="/public/static/js/index.js"></script>