svg {
    overflow: hidden;
}

#map-container {
    border: 1px solid;
    padding: 20px;
}

#charts-container {
    padding: 20px;
    margin: 20px;
    border: 1px solid lightgreen;
}

.hover-tooltip {
    position: absolute;
    z-index: 10;
    padding: 10px;
    background: rgba(0,0,0,0.6);
    border-radius: 4px;
    color: #fff;
    visibility: hidden;
}

.municipality.highlighted {
      fill: lightgreen !important;
      stroke-width: 2 !important;
}

.municipality:hover {
    cursor: pointer;
}