svg {
    overflow: hidden;
}

#map-container {
    border: 1px solid;
    padding: 20px;
}

#hover-info-container {
    margin: 5px;
    min-height: 42px;
    border: 2px solid #ccc;
}

#charts-container {
    padding: 20px;
    margin: 20px;
    border: 1px solid lightgreen;
}

.municipality.highlighted {
      fill: lightgreen !important;
      stroke-width: 2 !important;
}

.municipality:hover {
    cursor: pointer;
}