svg {
    overflow: hidden;
}

#vis-container {
    padding: 7px 20px;
}

#map-container {
    height: 95%;
    border: 1px solid #4f4f4f;
    padding: 15px;
    overflow: hidden;
}

#map-and-legend-container {
    height: 100%;
}

#charts-container {
    border: 1px solid #4f4f4f;
    padding: 20px;
}

#header-year-label {
    align-self: center;
    text-align: center;
}

.municipality-bar:hover {
    cursor: pointer;
}

.page-footer {
    background-color: #d0d1e6;
    max-height: 10%;
}

.search-box {
    background-color: white;
    max-height: 50px;
}

.search-button {
    background-color: #d0d1e6 !important;
}

.instruction-text {
    color: #4f4f4f;
    opacity: 0;
    transition: opacity 1s ease;
}

.hover-info-ball {
    font-size: 23px;
    color: #1bb31b;
}

.tooltip-inner {
    font-size: 15px;
}

.small-button {
    max-width: 200px !important;
}

.margin-top-sm { 
    margin-top:20px !important; 
}

.margin-bottom-sm { 
    margin-bottom:20px !important; 
}

.margin-bottom-xs { 
    margin-bottom:10px !important; 
}

.centering-row {
    justify-content: center;
}

.range-form {
  width: 400px;
  margin: auto;
  padding: 50px;
}

.hover-tooltip {
    position: absolute;
    z-index: 10;
    padding: 10px;
    background: rgba(0,0,0,0.6);
    border-radius: 4px;
    color: #fff;
    visibility: hidden;
}

.municipality.highlighted {
      fill: lightgreen !important;
      stroke-width: 2 !important;
}

.municipality:hover {
    cursor: pointer;
}